html {box-sizing: border-box;}

*, *:after, *:before {box-sizing: inherit;}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  background: #ddd;
}

#app {
  width: 95%;
  margin: auto;
}

.wrapper {
  width: 1660px;
  margin: auto;
  background-color: #524645;
}

.tagline {
  width: 975px;
  text-align: center;
  margin: auto;
  font-family: 'Questrial', sans-serif;
  font-size: 32px;
  padding: 100px;


}

.backgroundImage {
    width: 1660px;
    background-image: url(https://static1.squarespace.com/static/54628921e4b09fab6f8b61d0/t/56fec26107eaa09c6fb6597f/1459536488300/abstract-music-rock-bw.jpg?format=1500w);
    background-repeat: no-repeat;
    background-size: 1660px;
    height: 1116px;
    margin: auto;
}

.header {
  background-color: #F78C0A;
  width: 100%;
  height: 129px;
}

.title {
    font-family: 'Questrial', sans-serif;
    font-size: 66px;
    font-weight: bold;
    letter-spacing: 15px;
    width: 61.018131%;
    margin: 35px;
    display: inline-flex;
}

.login_signup {
    width: 7.3919%;
    height: 36px;
    background-color: #524645;
    color: #FFF;
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    font-size: 22px;
    border: none;
    margin-right: 25px;
    float: right;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.login_signup:hover {
    width: 7.3919%;
    height: 36px;
    background-color: #FFF;
    color: #524645;
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    font-size: 22px;
    border: none;
    margin-right: 25px;
    float: right;
    margin-top: 50px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}

.registration_container {
  display: flex;
  justify-content: space-between;
}

.about_container {
  width: 662px;
  height: 392px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 65px;
}


.about {
  font-family: 'Questrial', sans-serif;
  font-size: 32px;
  line-height: 50px;
  margin-left: 15px;
}

.signup_container {
    width: 574px;
    height: 465px;
    border-radius: 10px;
    background-color: #F78C0A;
    margin-right: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.register_title {
  font-family: 'Questrial', sans-serif;
  color: #524645;
  font-size: 36px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
}

.input_fields {
    border-radius: 5px;
    border: 4px solid #FFFFFF;
    font-family: 'Questrial', sans-serif;
    color: #FFFFFF;
    background-color: #F98D00;
    font-size: 16px;
    width: 250px;
    height: 42px;
    padding: 10px;
    outline: none;
}

.input_container {
  width: 50%;
  display: inline-table;
}

.input_wrapper {
  margin-left: 20px;
  width: 240px;
  margin-top: 15px;

}

.labels {
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
    color: #FFFFFF;
    float: left;
    margin-bottom: 5px;
}

.submit_button {
    background-color: #524645;
    color: #FFF;
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 93.5%;
    height: 40px;
    margin-left: 20px;
    margin-top: 25px;
    transition: 0.5s;
}

.submit_button:hover {
    background-color: #FFF;
    color: #524645;
    font-family: 'Questrial', sans-serif;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 93.5%;
    height: 40px;
    margin-left: 20px;
    margin-top: 25px;
    transition: 0.5s;
}

